DB_URL=<db password>
dbName=<db name>
clientId=<kafka client ID>
brokers=<kafka brokers list>
redisPort=<redis port>
redisUsername=<redis username>
redisPassword=<redis password>
redisHost=<redis host>
smtpHost=<smtp host>
smtpPort=<smtp port>
smtpUser=<smtp user>
smtpPassword=<smtp password>
smtpFrom=<sender mail>

DB_URL=mongodb://root:rootpassword@localhost:27018/invoiceBill?authSource=admin
dbName=invoiceBill
clientId=invoice
brokers=192.168.1.9:9192,192.168.1.9:9193,192.168.1.9:9194,192.168.1.9:9195,192.168.1.9:9196
redisPort=6379
redisUsername=redis
redisPassword=redis
redisHost=0.0.0.0
smtpHost=mail.smtp2go.com
smtpPort=587
smtpUser=noreply@delostyle.com
smtpPassword=NX3kUouvAzFFJKqs
smtpFrom=himanshu.sah@delostylestudio.com